.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
!data/motion/
data/motion/derivatives/*
!data/events/
data/events/derivatives/*
data/events/*tsv
!data/ukb-schaefer/*py
!data/ukb-schaefer/run*
/.quarto/
index*
Untitled*
*nii
*gz
*_files
*_cache
*html
*parquet
*arrow
figures
*rmarkdown
